* {
    border: none;
    border-radius: 0;
    font-size: 13px;
    min-height: 0;
}
#custom-vpn {
    color: red;
}

#custom-yip.failure {
    color: red;
}
#memory {
    color: green;
}
#keyboard-state {
    color: yellow;
}
